---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import TagFilter from '@/components/widgets/TagFilter.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />

  <!-- 标签筛选组件 -->
  <TagFilter posts={posts} />

  <main>
    <PostList posts={posts} />
  </main>
</IndexLayout>
